form {
  display:flex;
  flex-direction:row;
  padding:2px;
}

input {
  flex-grow:2;
  border:none;
}

input:focus {
  outline: none !important;
  background-color: transparent !important;
  border: 0px !important;
}

button {
  border:1px solid #6ab7a4;
  background:#6ab7a4;
  color:white;
  /* margin: 0px !important; */
}

button.btn.btn-secondary:hover {
  border: none;
  background-color: #b76a74;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
 }

.btn:focus {
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.btn:hover {
  background-color: #389981;
}

a.btn.btn-1 {
  color: #eee;
  font-weight: 100;
}

.btn-add {
  border-radius: 100px;
  padding: 0px;
  width: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.add-todo{
  display: flex;
}

.form-control {
  outline: none;
  border: 0;
  border-bottom: 1px dotted #666;
  border-radius: 0;
  padding: 0 0 5px;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

.form-control:focus {
  outline: none;
  border: 0;
  box-shadow: none;
  border-bottom: 1px dotted #666;
  border-radius: 0;
  padding: 0 0 5px;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 300;
  color: #389981;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

.form-check-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
  justify-content: space-between;
}