body {
  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212121;
}

table {
  border: 0px !important;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  background-color: #212121;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #212121;
  border-radius: .25rem;
  color: #999999;
}
.breadcrumb :hover {
  color: #ffffff;
}

.breadcrumb :hover {
  color: #ffffff;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.table td, .table th {
  border-top: none;
}

td {
  position: static;
  outline: none;
  border-bottom: 1px dotted #666;
  height: 60px;
  overflow: hidden;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.popover__title {
  font-size: 50px;
  line-height: 36px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover_wrapper:hover .popover_content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  border-radius:6px;
}
.popover__message {
  text-align: center;
}

.fa-customIcon{
  color: "white";
  font-size: "20pt";
}